/* --------------------------------------- */
/* ----- Basic Setup ----- */
/* --------------------------------------- */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Jost-Regular.ttf') format('woff');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}



#root {
  scroll-behavior: smooth;
  /* background-color: var(--neutral-80); */
  /* background-color: var(--neutral-80); */
  color: var(--white-1);
  /* background: radial-gradient( var(--neutral-80), #505050); */
  /* background: linear-gradient(to bottom,  var(--neutral-80), #1d1d1d) fixed;  */
  line-height: var(--line-height-normal);
  font-size: var(--font-size-small);

  --font-size-small: 1rem;
  --font-size-normal: 1.5rem;
  --font-size-medium: 2rem;
  --font-size-large: 3rem;
  --font-stack: 'Jost', sans-serif;

  --line-height-normal: 1.7;
  --line-height-small: 1.2;

  --black: #000;
  
  --white: #f0e9f2;

  --pink: #6c6ee4;
  --white-1: #bcbcbdda;
  --neutral-80: #333;

  --container-max-width: 1180px;
  --container-normal-width: 800px;
  --container-medium-width: 700px; 
  --container-small-width: 500px;

  --padding-x-small: 1rem;
  --padding-small: 2rem;
  --padding-normal: 3rem;
  --padding-medium: 5rem;
  --padding-huge: 12rem;

  --border-light: 1px solid rgb(36, 35, 35);
}

.pink{
  color: var(--pink);
}

/* --------------------------------------- */
/* ---------------- Header --------------- */
/* --------------------------------------- */

header .site-logo {
  margin-left: 0;
  margin-right: auto;
  text-transform: uppercase;
}

header a {
  
  color: inherit;
  font-family: var(--font-stack);
  font-size: var(--font-size-normal);

  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: all .2s;
}

header a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  display: inline-block;
  height: 1rem;
  background: var(--white);
  transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

header a:hover {
  color: var(--pink);
}

header a:hover::after {
  right: 0;
  height: 2px;
  background: var(--pink);
}

/* Hamburger menu styles */
.hamburger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  margin-left: auto;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #333;
  transition: 0.3s;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  header .site-logo {
    margin-right: auto;
  }

  header .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: var(--padding-medium);
    right: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: var(--font-size-large);
  }

  header .nav-links.open {
    display: flex;
  }

  header .hamburger-menu {
    display: flex;
  }
  header .hamburger-menu .bar{
    background-color: var(--white-1);
  }
}

/* --------------------------------------- */
/* ---------------- Footer --------------- */
/* --------------------------------------- */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background: linear-gradient(to top, rgba(51, 51, 51, 0.98), rgba(51, 51, 51, 0.3));
  box-shadow: 0 0.0625rem 0.375rem 0 rgba(0,0,0,.2);
  padding: 2em 0;
}
  
/* Default icon styles */
.footer-icon{
  height: 4rem;
  margin: 1em 2em;
  fill: white;
}

/* Hover styles */
.footer-icon:hover path {
  fill: var(--pink);
  transition: all ease-in-out 0.4s;
}

/* remove scroll bar */
body::-webkit-scrollbar {
  display: none;
}


/* --------------------------------------- */
/* --------- Main Components ------------- */
/* --------------------------------------- */
.content {
  margin-top: 10%;
  flex: 1; /* Allow content to take the remaining vertical space */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enable vertical scrolling for content */
}

.aboutMe,
.contact{
  color: var(--white);
  padding: 2em 5em;
  background-color: transparent;
  z-index: 0;
}

h2 {
  font-size: var(--font-size-large);
}

h3 {
  font-size: var(--font-size-medium);
}

.btn {
  display: inline-block;
  margin: 1em auto;
  padding: 1.5em 4em;
  color: inherit;
  text-decoration:none;
  border: 3px solid  var(--pink);
  border-radius: 0.6em;
  
  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, transparent 50%, var(--pink) 50%) right;
  background-size: 210% 110%;
  transition: all .2s;

}
.btn:hover {
  background-position: left;
}

/* --------------------------------------- */
/* ----- About ----- */
/* --------------------------------------- */

.about__content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

@media(max-width: 900px) {
  .about__content {
      flex-direction: column-reverse;
      align-items: initial;
  }
}

.about__photo-container {
  margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
  .about__text {
      flex: 0 0 35%;
  }
  
  .about__photo-container {
      flex: 1;
      margin: 0 var(--gutter-huge) 0 0;
  }
}

/* --------------------------------------- */
/* ----- Contact ----- */
/* --------------------------------------- */

.contact__info {
  max-width: var(--container-medium-width);
}


/* --------- */
/* added code */
/* Home section */
/* --------- */
.home-header {
  padding-top: 80px !important;
}

.home-section {
  position: relative;
  z-index: 0;
  background-color: transparent;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}

.heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 45px !important;
}

.main-name {
  color: #cd5ff8;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: var(--pink) !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: var(--pink) !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

.myAvtar {
  justify-content: center !important;
  padding-top: 9em !important;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.home-about-description {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align: left;
}

.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: white !important;
}

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.home-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: rgba(255, 255, 255, 0.972) !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #68187a;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #801f95;
}

.home-social-icons:hover {
  color: #87209e;
  box-shadow: 0 0 5px #87209e;
  text-shadow: 0 0 2px #87209e;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #700c86 !important;
}

/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: rgb(10, 4, 22);
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}
.footer-copywright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #a588c0 !important;
}

/* --------- */
/* About */
/* --------- */

.about-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}